
#Created by Constraints Editor (xc6vlx240t-ff1156-1) - 2013/07/15
NET "clk" TNM_NET = "clk";
TIMESPEC TS_clk = PERIOD "clk" 1.85 ns HIGH 50 %;


#NET "z[2]" LOC = AD26;
#NET "z[0]" LOC = AD27;
#NET "clk" LOC = AF20;
#NET "x[3]" LOC = AH34;
#NET "x[1]" LOC = AF29;
#NET "y[3]" LOC = AH32;
#NET "y[1]" LOC = AE29;
#NET "z[3]" LOC = AD25;
#NET "z[1]" LOC = AE27;
#NET "nReset" LOC = AH33;
#NET "x[2]" LOC = AF28;
#NET "x[0]" LOC = AL34;
#NET "y[2]" LOC = AE28;
#NET "y[0]" LOC = AJ34;
#
#
#NET "z[7]" LOC = AK34;
#NET "z[5]" LOC = AH30;
#NET "x[6]" LOC = AF26;
#NET "x[4]" LOC = AJ31;
#NET "y[6]" LOC = AG27;
#NET "y[4]" LOC = AF30;
#NET "z[6]" LOC = AH29;
#NET "z[4]" LOC = AN33;
#NET "x[7]" LOC = AG30;
#NET "x[5]" LOC = AE26;
#NET "y[7]" LOC = AN34;
#NET "y[5]" LOC = AG28;
#
#
#NET "x[9]" LOC = AK31;
#NET "y[10]" LOC = Y26;
#NET "x[13]" LOC = AJ30;
#NET "z[11]" LOC = AD34;
#NET "y[14]" LOC = AB33;
#NET "z[15]" LOC = AA34;
#NET "x[10]" LOC = AL31;
#NET "z[8]" LOC = AB31;
#NET "y[11]" LOC = AA25;
#NET "x[14]" LOC = AJ29;
#NET "z[12]" LOC = AA31;
#NET "y[15]" LOC = AC33;
#NET "y[8]" LOC = AA29;
#NET "x[11]" LOC = AK32;
#NET "z[9]" LOC = AB30;
#NET "y[12]" LOC = AD31;
#NET "x[15]" LOC = AJ32;
#NET "z[13]" LOC = AA30;
#NET "x[8]" LOC = AM33;
#NET "y[9]" LOC = AA28;
#NET "x[12]" LOC = AK33;
#NET "z[10]" LOC = AC34;
#NET "y[13]" LOC = AE31;
#NET "z[14]" LOC = AA33;
#
#
#NET "y[19]" LOC = Y33;
#NET "z[24]" LOC = T31;
#NET "x[29]" LOC = AD30;
#NET "y[20]" LOC = Y31;
#NET "x[16]" LOC = AC27;
#NET "z[25]" LOC = T30;
#NET "x[30]" LOC = AF34;
#NET "y[21]" LOC = Y32;
#NET "x[17]" LOC = AB27;
#NET "z[26]" LOC = R34;
#NET "x[31]" LOC = AE34;
#NET "y[22]" LOC = V33;
#NET "x[18]" LOC = AE32;
#NET "z[27]" LOC = R33;
#NET "y[23]" LOC = V32;
#NET "x[19]" LOC = AD32;
#NET "z[28]" LOC = T29;
#NET "y[24]" LOC = V27;
#NET "x[20]" LOC = AC28;
#NET "z[29]" LOC = T28;
#NET "y[25]" LOC = V28;
#NET "z[16]" LOC = V29;
#NET "x[21]" LOC = AB28;
#NET "z[30]" LOC = T25;
#NET "y[26]" LOC = W34;
#NET "z[17]" LOC = U28;
#NET "x[22]" LOC = AC32;
#NET "z[31]" LOC = U25;
#NET "y[27]" LOC = V34;
#NET "z[18]" LOC = U32;
#NET "x[23]" LOC = AB32;
#NET "y[28]" LOC = W30;
#NET "z[19]" LOC = U33;
#NET "x[24]" LOC = AC29;
#NET "y[29]" LOC = V30;
#NET "z[20]" LOC = U27;
#NET "x[25]" LOC = AD29;
#NET "y[16]" LOC = Y29;
#NET "y[30]" LOC = U30;
#NET "z[21]" LOC = U26;
#NET "x[26]" LOC = AF33;
#NET "y[17]" LOC = W29;
#NET "y[31]" LOC = U31;
#NET "z[22]" LOC = T34;
#NET "x[27]" LOC = AE33;
#NET "y[18]" LOC = Y34;
#NET "z[23]" LOC = T33;
#NET "x[28]" LOC = AC30;


#NET "y[45]" LOC = N28;
#NET "x[37]" LOC = AL26;
#NET "z[54]" LOC = N24;
#NET "y[46]" LOC = P32;
#NET "x[38]" LOC = AJ26;
#NET "z[55]" LOC = N23;
#NET "y[47]" LOC = N32;
#NET "x[39]" LOC = AK26;
#NET "z[56]" LOC = F23;
#NET "y[48]" LOC = M28;
#NET "x[40]" LOC = AH24;
#NET "z[57]" LOC = F24;
#NET "y[49]" LOC = L28;
#NET "x[41]" LOC = AH23;
#NET "z[58]" LOC = L24;
#NET "y[50]" LOC = M32;
#NET "x[42]" LOC = AJ27;
#NET "z[59]" LOC = M23;
#NET "y[51]" LOC = L33;
#NET "z[32]" LOC = AG23;
#NET "x[43]" LOC = AK27;
#NET "z[60]" LOC = K23;
#NET "y[52]" LOC = P27;
#NET "z[33]" LOC = AF23;
#NET "x[44]" LOC = AM27;
#NET "z[61]" LOC = K24;
#NET "y[53]" LOC = N27;
#NET "z[34]" LOC = AA24;
#NET "x[45]" LOC = AN27;
#NET "z[62]" LOC = M22;
#NET "y[54]" LOC = P30;
#NET "z[35]" LOC = Y24;
#NET "x[46]" LOC = AJ25;
#NET "z[63]" LOC = L23;
#NET "y[55]" LOC = P31;
#NET "z[36]" LOC = AF24;
#NET "x[47]" LOC = AH25;
#NET "y[56]" LOC = M27;
#NET "z[37]" LOC = AF25;
#NET "x[48]" LOC = AM28;
#NET "y[57]" LOC = M26;
#NET "z[38]" LOC = W24;
#NET "x[49]" LOC = AN28;
#NET "y[58]" LOC = K31;
#NET "z[39]" LOC = V24;
#NET "x[50]" LOC = AK28;
#NET "y[59]" LOC = K32;
#NET "z[40]" LOC = AE24;
#NET "x[51]" LOC = AL28;
#NET "y[32]" LOC = T26;
#NET "y[60]" LOC = M25;
#NET "z[41]" LOC = AD24;
#NET "x[52]" LOC = AP29;
#NET "y[33]" LOC = R26;
#NET "y[61]" LOC = N25;
#NET "z[42]" LOC = V23;
#NET "x[53]" LOC = AN29;
#NET "y[34]" LOC = R32;
#NET "y[62]" LOC = L31;
#NET "z[43]" LOC = U23;
#NET "x[54]" LOC = AK29;
#NET "y[35]" LOC = R31;
#NET "y[63]" LOC = M31;
#NET "z[44]" LOC = J24;
#NET "x[55]" LOC = AL29;
#NET "y[36]" LOC = R27;
#NET "z[45]" LOC = J25;
#NET "x[56]" LOC = AP31;
#NET "y[37]" LOC = R28;
#NET "z[46]" LOC = T23;
#NET "x[57]" LOC = AP30;
#NET "y[38]" LOC = P26;
#NET "z[47]" LOC = T24;
#NET "x[58]" LOC = AG26;
#NET "y[39]" LOC = P25;
#NET "z[48]" LOC = H24;
#NET "x[59]" LOC = AG25;
#NET "y[40]" LOC = L30;
#NET "x[32]" LOC = AP26;
#NET "z[49]" LOC = H25;
#NET "x[60]" LOC = AM30;
#NET "y[41]" LOC = L29;
#NET "x[33]" LOC = AP27;
#NET "z[50]" LOC = P24;
#NET "x[61]" LOC = AN30;
#NET "y[42]" LOC = M33;
#NET "x[34]" LOC = AK24;
#NET "z[51]" LOC = R24;
#NET "x[62]" LOC = AH28;
#NET "y[43]" LOC = N33;
#NET "x[35]" LOC = AJ24;
#NET "z[52]" LOC = G23;
#NET "x[63]" LOC = AH27;
#NET "y[44]" LOC = N29;
#NET "x[36]" LOC = AM26;
#NET "z[53]" LOC = H23;

# PlanAhead Generated physical constraints 

#NET "x[70]" LOC = AE19;
#NET "z[96]" LOC = AL14;
#NET "y[87]" LOC = D24;
#NET "x[98]" LOC = H33;
#NET "z[82]" LOC = AD16;
#NET "z[75]" LOC = AJ19;
#NET "y[115]" LOC = E22;
#NET "z[116]" LOC = AL10;
#NET "x[126]" LOC = B32;
#NET "z[117]" LOC = AM10;
#NET "x[71]" LOC = AF19;
#NET "y[88]" LOC = C27;
#NET "x[99]" LOC = H34;
#NET "y[116]" LOC = B22;
#NET "z[78]" LOC = AG18;
#NET "x[127]" LOC = C32;
#NET "x[72]" LOC = AL20;
#NET "y[89]" LOC = B27;
#NET "x[100]" LOC = K29;
#NET "y[117]" LOC = B21;
#NET "z[73]" LOC = AM17;
#NET "z[115]" LOC = AG11;
#NET "x[73]" LOC = AM20;
#NET "y[90]" LOC = G27;
#NET "x[101]" LOC = J30;
#NET "z[81]" LOC = AC18;
#NET "z[119]" LOC = AF11;
#NET "y[118]" LOC = J21;
#NET "z[91]" LOC = AJ17;
#NET "x[74]" LOC = AD20;
#NET "z[69]" LOC = AK18;
#NET "y[91]" LOC = G26;
#NET "x[102]" LOC = F34;
#NET "y[119]" LOC = J20;
#NET "z[109]" LOC = AC13;
#NET "z[86]" LOC = AG17;
#NET "y[64]" LOC = A31;
#NET "x[75]" LOC = AC20;
#NET "z[68]" LOC = AK17;
#NET "y[92]" LOC = A26;
#NET "x[103]" LOC = E34;
#NET "z[83]" LOC = AE16;
#NET "y[120]" LOC = C23;
#NET "z[118]" LOC = AE11;
#NET "y[65]" LOC = B31;
#NET "x[76]" LOC = AN20;
#NET "z[67]" LOC = AE18;
#NET "y[93]" LOC = B26;
#NET "x[104]" LOC = E31;
#NET "y[121]" LOC = B23;
#NET "z[90]" LOC = AJ16;
#NET "y[66]" LOC = H29;
#NET "x[77]" LOC = AN19;
#NET "z[66]" LOC = AF18;
#NET "y[94]" LOC = E27;
#NET "x[105]" LOC = F31;
#NET "z[95]" LOC = AG16;
#NET "z[80]" LOC = AC17;
#NET "y[122]" LOC = G22;
#NET "z[108]" LOC = AC12;
#NET "y[67]" LOC = H28;
#NET "x[78]" LOC = AJ22;
#NET "z[65]" LOC = AL16;
#NET "y[95]" LOC = D27;
#NET "z[88]" LOC = AP15;
#NET "x[106]" LOC = G33;
#NET "y[123]" LOC = G21;
#NET "z[92]" LOC = AM15;
#NET "y[68]" LOC = D30;
#NET "x[79]" LOC = AK22;
#NET "z[64]" LOC = AK16;
#NET "y[96]" LOC = A25;
#NET "x[107]" LOC = F33;
#NET "y[124]" LOC = A24;
#NET "y[69]" LOC = C30;
#NET "x[80]" LOC = AN18;
#NET "y[97]" LOC = B25;
#NET "x[108]" LOC = K27;
#NET "y[125]" LOC = A23;
#NET "z[89]" LOC = AP16;
#NET "z[107]" LOC = AD12;
#NET "y[70]" LOC = F29;
#NET "x[81]" LOC = AP19;
#NET "z[87]" LOC = AH17;
#NET "z[102]" LOC = AF15;
#NET "y[98]" LOC = F26;
#NET "x[109]" LOC = K26;
#NET "y[126]" LOC = D20;
#NET "y[71]" LOC = E29;
#NET "x[82]" LOC = AH22;
#NET "z[101]" LOC = AK14;
#NET "y[99]" LOC = E26;
#NET "x[110]" LOC = C34;
#NET "y[127]" LOC = C20;
#NET "y[72]" LOC = B30;
#NET "x[83]" LOC = AG22;
#NET "z[100]" LOC = AJ14;
#NET "y[100]" LOC = C25;
#NET "x[111]" LOC = D34;
#NET "z[106]" LOC = AD11;
#NET "y[73]" LOC = A30;
#NET "x[84]" LOC = AL18;
#NET "z[85]" LOC = AC15;
#NET "z[99]" LOC = AJ15;
#NET "y[101]" LOC = C24;
#NET "x[112]" LOC = J29;
#NET "z[120]" LOC = AJ12;
#NET "y[74]" LOC = E28;
#NET "x[85]" LOC = AM18;
#NET "y[102]" LOC = D26;
#NET "x[113]" LOC = K28;
#NET "z[72]" LOC = AM16;
#NET "y[75]" LOC = F28;
#NET "x[86]" LOC = AD21;
#NET "y[103]" LOC = D25;
#NET "x[114]" LOC = B34;
#NET "z[76]" LOC = AP17;
#NET "z[105]" LOC = AP11;
#NET "y[76]" LOC = A29;
#NET "x[87]" LOC = AE21;
#NET "z[79]" LOC = AH18;
#NET "y[104]" LOC = H20;
#NET "x[115]" LOC = C33;
#NET "z[122]" LOC = AC14;
#NET "z[71]" LOC = AD17;
#NET "y[77]" LOC = A28;
#NET "x[88]" LOC = J32;
#NET "y[105]" LOC = H19;
#NET "x[116]" LOC = H30;
#NET "z[74]" LOC = AH19;
#NET "y[78]" LOC = G28;
#NET "x[89]" LOC = J31;
#NET "z[121]" LOC = AK12;
#NET "y[106]" LOC = G20;
#NET "x[117]" LOC = G31;
#NET "z[123]" LOC = AD14;
#NET "z[93]" LOC = AN15;
#NET "z[104]" LOC = AP12;
#NET "y[79]" LOC = H27;
#NET "x[90]" LOC = L26;
#NET "y[107]" LOC = F21;
#NET "x[118]" LOC = B33;
#NET "z[124]" LOC = AK11;
#NET "y[80]" LOC = G25;
#NET "x[91]" LOC = L25;
#NET "y[108]" LOC = C19;
#NET "x[119]" LOC = A33;
#NET "z[125]" LOC = AJ11;
#NET "z[70]" LOC = AE17;
#NET "x[64]" LOC = AJ20;
#NET "z[98]" LOC = AH15;
#NET "y[81]" LOC = F25;
#NET "x[92]" LOC = H32;
#NET "y[109]" LOC = B20;
#NET "x[120]" LOC = G30;
#NET "z[126]" LOC = AE12;
#NET "z[84]" LOC = AD15;
#NET "x[65]" LOC = AF21;
#NET "z[103]" LOC = AG15;
#NET "z[97]" LOC = AL15;
#NET "y[82]" LOC = D29;
#NET "x[93]" LOC = G32;
#NET "y[110]" LOC = F20;
#NET "x[121]" LOC = F30;
#NET "z[127]" LOC = AE13;
#NET "z[112]" LOC = AM11;
#NET "x[66]" LOC = AL19;
#NET "y[83]" LOC = C29;
#NET "x[94]" LOC = J34;
#NET "y[111]" LOC = F19;
#NET "x[122]" LOC = E33;
#NET "x[67]" LOC = AK19;
#NET "y[84]" LOC = B28;
#NET "z[114]" LOC = AG10;
#NET "x[95]" LOC = K33;
#NET "y[112]" LOC = A21;
#NET "x[123]" LOC = E32;
#NET "z[111]" LOC = AJ10;
#NET "x[68]" LOC = AP21;
#NET "z[94]" LOC = AF16;
#NET "z[113]" LOC = AL11;
#NET "y[85]" LOC = C28;
#NET "x[96]" LOC = D32;
#NET "y[113]" LOC = A20;
#NET "x[124]" LOC = J27;
#NET "z[77]" LOC = AN17;
#NET "x[69]" LOC = AP20;
#NET "y[86]" LOC = E24;
#NET "x[97]" LOC = D31;
#NET "y[114]" LOC = E23;
#NET "x[125]" LOC = J26;
#NET "z[110]" LOC = AH10;
