
#Created by Constraints Editor (xc6vlx240t-ff1156-1) - 2014/04/29
NET "clk" TNM_NET = "clk";
TIMESPEC TS_clk = PERIOD "clk" 4 ns HIGH 50 %;


#INST "x_reg_2" AREA_GROUP = "design";
#INST "x_reg_3" AREA_GROUP = "design";
#INST "y_reg_0" AREA_GROUP = "design";
#INST "x_reg_4" AREA_GROUP = "design";
#INST "x_reg_5" AREA_GROUP = "design";
#INST "x_reg_6" AREA_GROUP = "design";
#INST "z_reg_1" AREA_GROUP = "design";
#INST "x_reg_7" AREA_GROUP = "design";
#INST "z_reg_2" AREA_GROUP = "design";
#INST "y_reg_1" AREA_GROUP = "design";
#INST "y_reg_2" AREA_GROUP = "design";
#INST "y_reg_3" AREA_GROUP = "design";
#INST "y_reg_7" AREA_GROUP = "design";
#INST "y_reg_4" AREA_GROUP = "design";
#INST "y_reg_5" AREA_GROUP = "design";
#INST "y_reg_6" AREA_GROUP = "design";
#INST "z_reg_3" AREA_GROUP = "design";
#INST "z_reg_4" AREA_GROUP = "design";
#INST "z_reg_6" AREA_GROUP = "design";
#INST "z_reg_5" AREA_GROUP = "design";
#INST "z_reg_9" AREA_GROUP = "design";
#INST "z_reg_10" AREA_GROUP = "design";
#INST "z_reg_7" AREA_GROUP = "design";
#INST "z_reg_11" AREA_GROUP = "design";
#INST "z_reg_12" AREA_GROUP = "design";
#INST "z_reg_13" AREA_GROUP = "design";
#INST "z_reg_15" AREA_GROUP = "design";
#INST "PM/Stage[1].PS_S/LUT6_zp" AREA_GROUP = "design";
#INST "PM/Stage[1].PS_S/LUT6_zn" AREA_GROUP = "design";
#INST "PM/Stage[1].PS_S/LUT6_pmsd" AREA_GROUP = "design";
#INST "PM/Stage[2].PS_S/LUT6_zp" AREA_GROUP = "design";
#INST "PM/Stage[2].PS_S/LUT6_zn" AREA_GROUP = "design";
#INST "PM/Stage[2].PS_S/LUT6_pmsd" AREA_GROUP = "design";
#INST "PM/Stage[3].PS_S/LUT6_zp" AREA_GROUP = "design";
#INST "PM/Stage[3].PS_S/LUT6_zn" AREA_GROUP = "design";
#INST "PM/Stage[3].PS_S/LUT6_pmsd" AREA_GROUP = "design";
#INST "PM/Stage[2].PS_S/RA/TB/CARRY4_inst_MSD" AREA_GROUP = "design";
#INST "PM/Stage[3].PS_S/RA/TB/CARRY4_inst_MSD" AREA_GROUP = "design";
#INST "PM/Stage[3].PS_S/RA/TB/lsd" AREA_GROUP = "design";
#INST "PM/Stage[2].PS_S/RA/TB/lsd" AREA_GROUP = "design";
#INST "PM/Stage[1].PS_S/RA/TB/CARRY4_inst_MSD" AREA_GROUP = "design";
#INST "PM/Stage[1].PS_S/RA/TB/lsd" AREA_GROUP = "design";
#INST "PM/Stage[3].PS_S/RA/Slice_no[1].S_carry/CARRY4_inst" AREA_GROUP = "design";
#INST "PM/Stage[3].PS_S/RA/Slice_no[1].S_carry/l1" AREA_GROUP = "design";
#INST "PM/Stage[3].PS_S/RA/Slice_no[1].S_carry/l3" AREA_GROUP = "design";
#INST "PM/Stage[3].PS_S/RA/Slice_no[1].S_carry/l2" AREA_GROUP = "design";
#INST "PM/Stage[3].PS_S/RA/Slice_no[1].S_carry/l4" AREA_GROUP = "design";
#INST "PM/Stage[3].PS_S/RA/Slice_no[2].S_carry/CARRY4_inst" AREA_GROUP = "design";
#INST "PM/Stage[3].PS_S/RA/Slice_no[2].S_carry/l1" AREA_GROUP = "design";
#INST "PM/Stage[3].PS_S/RA/Slice_no[2].S_carry/l3" AREA_GROUP = "design";
#INST "PM/Stage[3].PS_S/RA/Slice_no[2].S_carry/l2" AREA_GROUP = "design";
#INST "PM/Stage[3].PS_S/RA/Slice_no[2].S_carry/l4" AREA_GROUP = "design";
#INST "PM/Stage[2].PS_S/RA/Slice_no[2].S_carry/l4" AREA_GROUP = "design";
#INST "PM/Stage[1].PS_S/RA/Slice_no[1].S_carry/CARRY4_inst" AREA_GROUP = "design";
#INST "PM/Stage[1].PS_S/RA/Slice_no[1].S_carry/l2" AREA_GROUP = "design";
#INST "PM/Stage[1].PS_S/RA/Slice_no[1].S_carry/l3" AREA_GROUP = "design";
#INST "PM/Stage[1].PS_S/RA/Slice_no[1].S_carry/l1" AREA_GROUP = "design";
#INST "PM/Stage[1].PS_S/RA/Slice_no[1].S_carry/l4" AREA_GROUP = "design";
#INST "x_6_IBUF" AREA_GROUP = "design";
#INST "PM/Stage[1].PS_S/RA/Slice_no[2].S_carry/CARRY4_inst" AREA_GROUP = "design";
#INST "x_5_IBUF" AREA_GROUP = "design";
#INST "PM/Stage[1].PS_S/RA/Slice_no[2].S_carry/l1" AREA_GROUP = "design";
#INST "PM/Stage[1].PS_S/RA/Slice_no[2].S_carry/l2" AREA_GROUP = "design";
#INST "PM/Stage[1].PS_S/RA/Slice_no[2].S_carry/l4" AREA_GROUP = "design";
#INST "PM/Stage[1].PS_S/RA/Slice_no[2].S_carry/l3" AREA_GROUP = "design";
#INST "PM/z<9>1" AREA_GROUP = "design";
#INST "PM/Pout_s1<0><0>1" AREA_GROUP = "design";
#INST "PM/Pout_s1<1><1>1" AREA_GROUP = "design";
#INST "PM/Pout_s1<2><2>1" AREA_GROUP = "design";
#INST "PM/Pout_s1<3><3>1" AREA_GROUP = "design";
#INST "PM/Pout_s1<5><5>1" AREA_GROUP = "design";
#INST "PM/Pout_s1<4><4>1" AREA_GROUP = "design";
#INST "PM/Pout_s1<6><6>1" AREA_GROUP = "design";
#INST "PM/Pout_s1<7><7>1" AREA_GROUP = "design";
#INST "PM/Stage[2].PS_S/RA/Slice_no[2].S_carry/l4/L4outO51" AREA_GROUP = "design";
#INST "PM/Stage[3].PS_S/RA/TB/lsd/zL<0>1" AREA_GROUP = "design";
#INST "PM/Stage[3].PS_S/RA/TB/Mxor_L1out_xo<0>1" AREA_GROUP = "design";
#INST "PM/Stage[2].PS_S/RA/TB/lsd/zL<0>1" AREA_GROUP = "design";
#INST "PM/Stage[2].PS_S/RA/TB/Mxor_L1out_xo<0>1" AREA_GROUP = "design";
#INST "PM/Stage[1].PS_S/RA/TB/lsd/zL<0>1" AREA_GROUP = "design";
#INST "PM/Stage[3].PS_S/RA/Slice_no[1].S_carry/l1/Xy31" AREA_GROUP = "design";
#INST "PM/Stage[3].PS_S/RA/Slice_no[1].S_carry/l4/L4outO51" AREA_GROUP = "design";
#INST "PM/Stage[3].PS_S/RA/Slice_no[1].S_carry/l2/L2outO51" AREA_GROUP = "design";
#INST "PM/Stage[3].PS_S/RA/Slice_no[2].S_carry/l4/L4outO51" AREA_GROUP = "design";
#INST "PM/Stage[3].PS_S/RA/Slice_no[2].S_carry/l2/L2outO51" AREA_GROUP = "design";
#INST "PM/Stage[3].PS_S/RA/Slice_no[2].S_carry/l1/Xy31" AREA_GROUP = "design";
#INST "PM/Stage[2].PS_S/RA/Slice_no[1].S_carry/l4/L4outO51" AREA_GROUP = "design";
#INST "PM/Stage[2].PS_S/RA/Slice_no[1].S_carry/l2/L2outO51" AREA_GROUP = "design";
#INST "PM/Stage[2].PS_S/RA/Slice_no[1].S_carry/l1/Xy31" AREA_GROUP = "design";
#INST "PM/Stage[2].PS_S/RA/Slice_no[2].S_carry/l2/L2outO51" AREA_GROUP = "design";
#INST "PM/Stage[2].PS_S/RA/Slice_no[2].S_carry/l1/Xy31" AREA_GROUP = "design";
#INST "PM/Stage[1].PS_S/RA/Slice_no[1].S_carry/l4/L4outO51" AREA_GROUP = "design";
#INST "PM/Stage[1].PS_S/RA/Slice_no[1].S_carry/l2/L2outO51" AREA_GROUP = "design";
#INST "PM/Stage[1].PS_S/RA/Slice_no[1].S_carry/l1/Xy31" AREA_GROUP = "design";
#INST "PM/Stage[1].PS_S/RA/Slice_no[2].S_carry/l4/L4outO51" AREA_GROUP = "design";
#INST "PM/Stage[1].PS_S/RA/Slice_no[2].S_carry/l2/L2outO51" AREA_GROUP = "design";
#INST "PM/Stage[1].PS_S/RA/Slice_no[2].S_carry/l1/Xy31" AREA_GROUP = "design";
#INST "x_7_IBUF" AREA_GROUP = "design";
#INST "x_4_IBUF" AREA_GROUP = "design";
#INST "x_3_IBUF" AREA_GROUP = "design";
#INST "x_2_IBUF" AREA_GROUP = "design";
#INST "x_1_IBUF" AREA_GROUP = "design";
#INST "x_0_IBUF" AREA_GROUP = "design";
#INST "y_7_IBUF" AREA_GROUP = "design";
#INST "z_15_OBUF" AREA_GROUP = "design";
#INST "y_6_IBUF" AREA_GROUP = "design";
#INST "y_5_IBUF" AREA_GROUP = "design";
#INST "y_4_IBUF" AREA_GROUP = "design";
#INST "y_3_IBUF" AREA_GROUP = "design";
#INST "y_2_IBUF" AREA_GROUP = "design";
#INST "y_1_IBUF" AREA_GROUP = "design";
#INST "y_0_IBUF" AREA_GROUP = "design";
#INST "rst_IBUF" AREA_GROUP = "design";
#INST "z_14_OBUF" AREA_GROUP = "design";
#INST "z_13_OBUF" AREA_GROUP = "design";
#INST "z_12_OBUF" AREA_GROUP = "design";
#INST "z_11_OBUF" AREA_GROUP = "design";
#INST "z_10_OBUF" AREA_GROUP = "design";
#INST "z_8_OBUF" AREA_GROUP = "design";
#INST "z_9_OBUF" AREA_GROUP = "design";
#INST "z_0_OBUF" AREA_GROUP = "design";
#INST "z_7_OBUF" AREA_GROUP = "design";
#INST "z_6_OBUF" AREA_GROUP = "design";
#INST "z_5_OBUF" AREA_GROUP = "design";
#INST "z_4_OBUF" AREA_GROUP = "design";
#INST "z_3_OBUF" AREA_GROUP = "design";
#INST "z_2_OBUF" AREA_GROUP = "design";
#INST "z_1_OBUF" AREA_GROUP = "design";
#INST "PM/Stage[1].PS_S/RA/TB/L2outO51" AREA_GROUP = "design";
#INST "PM/Pout_s1<9>1" AREA_GROUP = "design";
#INST "PM/Stage[2].PS_S/RA/Slice_no[2].S_carry/l3" AREA_GROUP = "design";
#INST "PM/Stage[2].PS_S/RA/Slice_no[2].S_carry/l2" AREA_GROUP = "design";
#INST "PM/Stage[2].PS_S/RA/Slice_no[2].S_carry/l1" AREA_GROUP = "design";
#INST "PM/Stage[2].PS_S/RA/Slice_no[2].S_carry/CARRY4_inst" AREA_GROUP = "design";
#INST "PM/Stage[2].PS_S/RA/Slice_no[1].S_carry/l4" AREA_GROUP = "design";
#INST "PM/Stage[2].PS_S/RA/Slice_no[1].S_carry/l2" AREA_GROUP = "design";
#INST "PM/Stage[2].PS_S/RA/Slice_no[1].S_carry/l3" AREA_GROUP = "design";
#INST "PM/Stage[2].PS_S/RA/Slice_no[1].S_carry/l1" AREA_GROUP = "design";
#INST "XST_GND" AREA_GROUP = "design";
#INST "x_reg_1" AREA_GROUP = "design";
#INST "x_reg_0" AREA_GROUP = "design";
#INST "PM/Stage[2].PS_S/RA/Slice_no[1].S_carry/CARRY4_inst" AREA_GROUP = "design";
#INST "PM/Stage[1].PS_S/RA/TB/Mxor_L1out_xo<0>1" AREA_GROUP = "design";
#INST "clk_BUFGP" AREA_GROUP = "design";
#INST "PM/Stage[1].PS_S/RA/Slice_no[2].S_carry/z1<1>1_INV_0" AREA_GROUP = "design";
#INST "PM/Stage[1].PS_S/RA/Slice_no[2].S_carry/z2<1>1_INV_0" AREA_GROUP = "design";
#INST "PM/Stage[1].PS_S/RA/Slice_no[1].S_carry/z1<1>1_INV_0" AREA_GROUP = "design";
#INST "PM/Stage[1].PS_S/RA/Slice_no[1].S_carry/z2<1>1_INV_0" AREA_GROUP = "design";
#INST "PM/Stage[2].PS_S/RA/Slice_no[2].S_carry/z1<1>1_INV_0" AREA_GROUP = "design";
#INST "PM/Stage[2].PS_S/RA/Slice_no[2].S_carry/z2<1>1_INV_0" AREA_GROUP = "design";
#INST "PM/Stage[2].PS_S/RA/Slice_no[1].S_carry/z1<1>1_INV_0" AREA_GROUP = "design";
#INST "PM/Stage[2].PS_S/RA/Slice_no[1].S_carry/z2<1>1_INV_0" AREA_GROUP = "design";
#INST "PM/Stage[3].PS_S/RA/Slice_no[2].S_carry/z1<1>1_INV_0" AREA_GROUP = "design";
#INST "PM/Stage[3].PS_S/RA/Slice_no[2].S_carry/z2<1>1_INV_0" AREA_GROUP = "design";
#INST "PM/Stage[3].PS_S/RA/Slice_no[1].S_carry/z1<1>1_INV_0" AREA_GROUP = "design";
#INST "PM/Stage[3].PS_S/RA/Slice_no[1].S_carry/z2<1>1_INV_0" AREA_GROUP = "design";
#INST "PM/Stage[2].PS_S/RA/TB/L2outO51_INV_0" AREA_GROUP = "design";
#INST "PM/Stage[3].PS_S/RA/TB/L2outO51_INV_0" AREA_GROUP = "design";
#INST "rst_inv1_INV_0" AREA_GROUP = "design";

INST "PM" AREA_GROUP = "pblock_parallelMult";
AREA_GROUP "pblock_parallelMult" RANGE=SLICE_X22Y231:SLICE_X25Y236;
